<div class="my-container mx-auto">
    <section class="m-3 p-4 border-2 border-blue-700 rounded-lg">
        <h4 class="w-1/4 border-2 border-blue-700 text-blue-700 text-center py-2 rounded-lg">Payment Info</h4>
        <table class="my-shadow mx-auto mt-2 w-1/2  min-w-full bg-white/25 border border-indigo-600 hover:border-violet-400">
            <tbody >
                <tr>
                    <td class="text-cyan-400 ">Total Items</td>
                    <td class="font-bold text-fuchsia-500">5</td>
                </tr>
                <tr>
                    <td class="text-cyan-400">Total Price</td>
                    <td class="font-bold text-red-500">10000</td>
                </tr>
                <tr>
                    <td class="text-cyan-400">Shipping Charges</td>
                    <td class="font-bold text-red-500">1000</td>
                </tr>
                <tr>
                    <td class="text-cyan-400">Discount</td>
                    <td class="font-bold text-lime-400">200</td>
                </tr>
                <tr>
                    <td class="text-cyan-400">You Have To Pay</td>
                    <td class="font-bold text-lime-400">10800</td>
                </tr>
            </tbody>

        </table>

    </section>

    <section class="m-3 p-4 border-2 border-blue-700 rounded-lg">
        <h4 class="w-1/4 border-2 border-yellow-400 text-center text-yellow-400 py-2 rounded-lg">Payment Method</h4>
        <div class="flex justify-center items-center">
            <h5 class="me-4 text-yellow-400">Select Any Method</h5>
            <select class="w-1/4 block px-4 py-2 mt-1 text-yellow-400 border-2 rounded-lg bg-white/25 border-yellow-400 hover:text-indigo-500 hover:border-2 hover:border-indigo-500 focus:outline-none focus:border-blue-500">
                <option value="0">Open this select menu</option>
                <option *ngFor="let paymentMethod of [1,2,3]" value="{{paymentMethod}}">
                    option
                </option>
            </select>

        </div>

    </section>

</div>
