<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->

<!-- <div class="mt-5"></div> -->

<!-- <div class="mx-auto" style="width: 70%;">
    <app-product>

    </app-product>
</div> -->


<!-- <app-suggested-products></app-suggested-products> -->

<!-- <app-home></app-home> -->

<!-- <app-products></app-products> -->

<!-- <app-product-details></app-product-details> -->

<!-- <app-cart></app-cart> -->

<!-- <app-order></app-order> -->

<!-- <app-header></app-header> -->

<!-- <app-footer></app-footer> -->


<app-header></app-header>
<main class="bg-[#121212]">
  <router-outlet></router-outlet>
</main>
<app-custom-modal></app-custom-modal>

<app-footer></app-footer>

